asgiref==3.9.1
cffi==2.0.0
colorama==0.4.6
cryptography==45.0.7
Django==5.2.6
django-allauth==65.11.2
django-formtools==2.5.1
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-ratelimit==4.1.0
django-two-factor-auth==1.17.0
fido2==2.0.0
phonenumbers==9.0.13
pillow==11.3.0
pycparser==2.23
pypng==0.20220715.0
python-dotenv==1.1.1
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
